# Dependencies
node_modules/

# Log files
*.log

# Environment variables
.env

# Rider
.idea/

# VS Code
.vscode/

# Build artifacts
dist/
build/

# Backup files
backup/

# TypeScript cache
*.tsbuildinfo

*.md